<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.mybatis.mapper.BookMapper">

  <select id="categories" resultType="com.example.mybatis.dto.CategoryDTO">
    SELECT c.CATEGORY_ID AS id, c.CATEGORY_NAME  
    FROM BOOK_CATEGORY c 
  </select>
  <select id="publishers" resultType="com.example.mybatis.dto.PublisherDTO">
    SELECT  p.PUBLISHER_ID AS id, p.PUBLISHER_NAME
    FROM BOOK_PUBLISHER p
  </select>

  <insert id="create">
    INSERT INTO BOOKTBL(BOOK_ID, TITLE, WRITER, PRICE, SALE_PRICE, CREATED_DATE_TIME, LAST_MODIFIED_DATE_TIME, CATEGORY_CATEGORY_ID, PUBLISHER_PUBLISHER_ID)
    VALUES(book_seq.nextval, #{title}, #{writer}, #{price}, #{salePrice}, current_timestamp, current_timestamp, #{categoryName}, #{publisherName})
  </insert>

  <update id = "update">
    UPDATE BOOKTBL
    SET PRICE = #{price}, SALE_PRICE = #{salePrice}, LAST_MODIFIED_DATE_TIME = current_timestamp
    WHERE BOOK_ID = #{id}
  </update>

  <delete id = "delete">
    DELETE FROM BOOKTBL    
    WHERE BOOK_ID = #{id}
  </delete>

  <select id="selectBook" resultType="com.example.mybatis.dto.BookDTO">
    SELECT  b.BOOK_ID AS id, b.TITLE, b.WRITER, b.SALE_PRICE, b.PRICE, b.CREATED_DATE_TIME, p.PUBLISHER_ID, p.PUBLISHER_NAME, c.CATEGORY_ID, c.CATEGORY_NAME  
    FROM BOOKTBL b 
    JOIN BOOK_PUBLISHER p ON b.PUBLISHER_PUBLISHER_ID = p.PUBLISHER_ID
    JOIN BOOK_CATEGORY c ON b.CATEGORY_CATEGORY_ID = c.CATEGORY_ID
    WHERE b.BOOK_ID = #{id}
  </select>

  <select id="selectBookList" resultType="com.example.mybatis.dto.BookDTO">
    
    <![CDATA[
        SELECT t.BOOK_ID AS id, t.TITLE, t.WRITER, t.PUBLISHER_ID, t.PUBLISHER_NAME, t.CATEGORY_ID, t.CATEGORY_NAME 
        FROM (SELECT rownum rn, b1.*
                FROM (SELECT *
                      FROM BOOKTBL b
                      JOIN BOOK_PUBLISHER p ON b.PUBLISHER_PUBLISHER_ID = p.PUBLISHER_ID
                      JOIN BOOK_CATEGORY c ON b.CATEGORY_CATEGORY_ID = c.CATEGORY_ID
                      WHERE b.BOOK_ID > 0
                      ORDER BY b.BOOK_ID DESC) b1
                WHERE
    ]]>
        <include refid="criteria"></include>
    <![CDATA[
                rownum <= (#{page} * #{size})) t
        WHERE
          rn > (#{page} - 1) * #{size}            
    ]]>
  </select>

  <select id="totalCnt" resultType="int">
    SELECT count(*) 
    FROM BOOKTBL b
    JOIN BOOK_PUBLISHER p ON b.PUBLISHER_PUBLISHER_ID = p.PUBLISHER_ID
    JOIN BOOK_CATEGORY c ON b.CATEGORY_CATEGORY_ID = c.CATEGORY_ID
    WHERE 
        <include refid="criteria"></include> 
        book_id > 0
  </select>

  <sql id="criteria">
    <trim prefix="("  suffix=") AND"  prefixOverrides="OR">
        <trim prefix="OR">
            <choose>
                <when test="type == 't'.toString()">
                    title like '%'||#{keyword}||'%'
                </when>
                <when test="type == 'c'.toString()">
                    CATEGORY_NAME like '%'||#{keyword}||'%'
                </when>
                <when test="type == 'w'.toString()">
                    writer like '%'||#{keyword}||'%'
                </when>
            </choose>
        </trim>
    </trim>
  </sql>

</mapper>