<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h3>Member</h3>

      <h4>
        권한 확인
        <span sec:authentication="principal.authorities"></span>
      </h4>

      <h4>
        이름
        <span sec:authentication="principal.name"></span>
      </h4>

      <h4>
        이메일

        <div>
          <span sec:authentication="principal.authorities"></span>
        </div>
        <div>
          <span sec:authentication="principal.authorities"></span>
        </div>
      </h4>

      <!-- 로그인이 되었다면 -->
      <div sec:authorize="isAuthenticated()">
        <a class="btn btn-success" th:href="@{/users/logout}">로그아웃</a>
      </div>
    </div>
  </body>
</html>
